<!DOCTYPE html>
<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
 --><link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

<title>Smart-Farming</title>


<!-- <div class='navbar navbar-inverse navbar-static-top'>
  <div class="container dropdown">
   <a href='/' class="navbar-brand">Smart-Farming</a>
   <ul class="nav navbar-nav navbar-right">
      <li><a href="iotbox.html">IoT Box</a></li>
      <li><a href="machinelearning.html">Machine Learning</a></li>
      <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">More
            <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
            <li><a href="customers.html">Customers</a></li>
            <li><a href="testimonials.html">Testimonials</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            </ul>
     </li>
   </ul>
  </div>
</div>  -->

<nav class='navbar navbar-default'>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<!--       <a class="navbar-brand" href="#" style="font-size:40px;margin-left:10px;font-family:cursive;font: bold Sans Serif;text-shadow: 4px 4px 4px #aaa;">Smart-Farming</a> -->
      <a href="#" class="navbar-brand navbar-left img-responsive" style="margin-top:-50px;"><img src="/static/pictures/logo2.png"></a>
<!--         <a class="navbar-brand" href="#">
        <img alt="Brand" src="/static/pictures/logo.png">
      </a> -->

    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" style="font-weight:bold;">
        <li><a href="#">IoT Box</a></li>
        <li><a href="#">Machine Learning</a></li>
        <li><a href="#">Testimonials</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- <div class="container-fluid">
<img src="/static/pictures/farming.jpg" class="img-rounded img-responsive">
</div> -->

<div class="image">
      <img src="/static/pictures/farming.jpg" alt="" class="img-rounded img-responsive" style="max-width:100%;
      background-size:cover;"/>

<!--       <h2 class = "text-center" style="position: relative; top: -500px; left: 0; width: 100%;">Smart Farming: Utilizing the power of AI for better yields</h2> -->
</div>

<div class="row text-center col-md-12">
<h1>Our Solution: </h1>
<h3>We are a bunch of IoT, AI and agriculture experts </h3>
<h3>We have analyzed data from hundreds of farmers in India. </h3>
</div>

<div class="row">
<div class="container-fluid col-md-12 col-sm-12 col-md-offset-3 col-sm-offset-2" style="margin-top:30px">
<img src="/static/pictures/slideflow.png" class="img-thumbnail img-responsive">
</div>
</div>


<div class="row">
<div class = "col-md-6 col-sm-12">
<div class = "text-center" style="margin-top:20px">
<h3> AI-Based Analysis for better results </h3>
<h3> Graph from Sensor Data below.  </h3>
</div>
</div>

<div class = "col-md-6 col-sm-12">
<div class = "text-center" style="margin-top:20px">
<h3> Based on sensor data, tomatoes and carrots recommended. </h3>
<h3> Prediction for yield: 94% for carrots and 91% for tomatoes. </h3>
</div>
</div>
</div>

<div class="row">
<div class="container-fluid col-md-6 col-sm-12" style="margin-top:30px">
<img src="/static/pictures/graphs/crop_response.png" class="img-thumbnail img-responsive">
</div>

<div class="container-fluid col-md-6 col-sm-12" style="margin-top:30px">
<img src="/static/pictures/veggies.jpg" class="img-thumbnail img-responsive">
</div>
</div>

<div class="row text-center col-md-12">
<h3>Your pH levels are above 5.4 for 90% of the ground.</h3>
<h3>This translates to carrots and tomatoes with maximum yield for you.</h3>
</div>

<div class="row">
<div class="container-fluid col-md-12 col-sm-12" style="margin-top:30px">
<img src="/static/pictures/iotkit.jpg" class="img-thumbnail img-responsive">
</div>
</div>

<div class="row">
<div class="container-fluid col-md-12 col-sm-12" style="margin-top:30px">
<img src="/static/pictures/IBMWatson.png" class="img-thumbnail img-responsive">
</div>
</div>

<!-- <div class="row text-center col-md-12">
<h1>Our Solution- </h1>
<h3>Get the IoT kit from us and use it free</h3>
<h3>Pay us only when you get better results!</h3>
</div>

<div class="row">
<div class="container-fluid col-md-6 col-sm-12" style="margin-top:30px">
<img src="/static/pictures/iotkitslide.jpg" class="img-thumbnail img-responsive">
</div>

<div class="container-fluid col-md-6 col-sm-12" style="margin-top:30px">
<img src="/static/pictures/iotkit.jpg" class="img-thumbnail img-responsive">
</div>
</div> -->

</html>
